.config-editor {
  padding: 20px;
}

.input-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
  padding: 5px;
  margin-top: 5px;
}


.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

#dynamatic-shoppable-root .swiper-slide {
  padding: 0px !important;
}